################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GithubCommitHistory.Web/.vs/GithubCommitHistory.Web
/GithubCommitHistory.Web/bin/Debug/net8.0
/GithubCommitHistory.Web/obj
